extends layout.pug

block content 
  article.grid-container.portfolio-intro.portfolio-project
    a(href='/') 
    p.text.lead.light ← Home
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= localProject.project_name

        p.lead.text-light= localProject.description

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul  
          each technology in localProject.technologies 
            li= technology

        a.button.expanded(href=`${localProject.live_link}` target='_blank') Live Demo
        a.button.expanded(href=`${localProject.github_link}` target='_blank') GitHub Repo
    
    img.image(src=`../${localProject.image_urls[1]}`)
    img.image(src=`../${localProject.image_urls[2]}`)
    img.image(src=`../${localProject.image_urls[3]}`)